@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-bg-muted: #fafafa;
  --color-bg-hover: #f5f5f5;
  --color-bg-subtle: #e5e5e5;

  --color-text: #171717;
  --color-text-secondary: #737373;
  --color-text-muted: #a3a3a3;

  --color-border: #e5e5e5;

  --color-accent: #a855f7;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
